<table cellpadding="10" align="center">
  <tr>
    <td><label style="margin-right: 20px">Name:</label></td>
    <td><input type="text" [(ngModel)]="name" name="name" class="form-control" required></td>
  </tr>
  <tr>
    <td><label style="margin-right: 20px">Address:</label></td>
    <td><input type="text" [(ngModel)]="address" name="address" class="form-control" required></td>
  </tr>
  <tr>
    <td><label style="margin-right: 20px">PAN No:</label></td>
    <td><input type="text" [(ngModel)]="pan" name="pan" class="form-control" required></td>
  </tr>
  <tr>
    <td><label style="margin-right: 20px">Adhaar No:</label></td>
    <td><input type="text" [(ngModel)]="adhaar" name="adhaar" class="form-control" required></td>
  </tr>
  <tr>
    <td><label style="margin-right: 20px">Phone:</label></td>
    <td><input type="text" [(ngModel)]="phone" name="phone" class="form-control" required></td>
  </tr>
  <tr>
    <td></td>
    <td><input type="button" class="btn btn-primary" (click)="addTenant()" value="Save Tenant"></td>
  </tr>
  <tr *ngIf="error" class="alert alert-danger">
    <td colspan="2"><strong>Error: </strong> {{error}} </td>
  </tr>
</table>

<!-- <div class="alert alert-danger fade in">
    <a href="#" class="close" data-dismiss="alert">&times;</a>
    <strong>Error!</strong> A problem has been occurred while submitting your data.
</div> -->

<br><br>
<table class="table table-dark table-bordered">
  <tr style="width: 100%">
    <th style="width: 20%">Name</th>
    <th style="width: 35%">Address</th>
    <th style="width: 15%">PAN No</th>
    <th style="width: 15%">Adhaar No</th>
    <th style="width: 15%">Phone</th>
    <th></th>
    <th></th>
  </tr>

  <tr *ngFor="let tenant of tenants">
    <ng-container *ngIf="!tenantEditing">
      <td>{{tenant.name}}</td>
      <td>{{tenant.address}}</td>
      <td>{{tenant.pan}}</td>
      <td>{{tenant.adhaar}}</td>
      <td>{{tenant.phone}}</td>
      <td><input type="button" (click)="editTenant(tenant)" value="Edit" class="btn btn-primary"></td>
      <td>
        <!-- <input type="button" (click)="deleteTenant(tenant._id)" value="Delete" class="btn btn-danger"> -->
        <a (click)="deleteTenant(tenant._id)" class="btn btn-danger">Delete</a>
      </td>
    </ng-container>
  </tr>

  <tr *ngIf="tenantEditing">
    <td><input class="form-control" type="text" [(ngModel)]="newName" name="name"></td>
    <td><input class="form-control" type="text" [(ngModel)]="newAddress" name="address"></td>
    <td><input class="form-control" type="text" [(ngModel)]="newPan" name="pan"></td>
    <td><input class="form-control" type="text" [(ngModel)]="newAdhaar" name="adhaar"></td>
    <td><input class="form-control" type="text" [(ngModel)]="newPhone" name="phone"></td>
    <td><input type="button" value="Update" (click)="updateTenant()" class="btn btn-primary"></td>
    <td><input type="button" value="Cancel" (click)="cancelEditing()" class="btn btn-danger"></td>
  </tr>
</table>

<div *ngIf="message" class="alert alert-danger">
    <strong>Error!</strong> A problem has been occurred while submitting your data. All details required!
</div>
